nav.navbar {
	padding: 0;
	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

nav.navbar .navbar-actions {
	column-gap: 10px;
	align-items: center;
	flex-direction: row-reverse;
}

nav.navbar .navbar-actions .dropdown-menu {
	position: absolute;
}

nav.navbar .navbar-actions .btn:hover,
nav.navbar .navbar-actions .btn:active,
nav.navbar .navbar-actions .btn.active,
nav.navbar .navbar-actions .dropdown-toggle:hover,
nav.navbar .navbar-actions .dropdown-toggle:active,
nav.navbar .navbar-actions .dropdown-toggle.active {
	background-color: var(--gp-btn-bg, inherit);
	color: var(--gp-btn-color, inherit);
}

nav.navbar .navbar-actions .dropdown-toggle::after {
	display: none;
}

nav.navbar .reset-settings-link {
	color: #ff0000;
}

nav.navbar .icon-btn {
	width: 40px;
	padding: 0;
	justify-content: center;
	border-radius: 50%;
}

nav.navbar .navbar-nav .nav-link,
nav.navbar .navbar-actions .btn,
nav.navbar .navbar-actions .dropdown-toggle,
nav.navbar .navbar-actions .form-select {
	height: 40px;
	display: inline-flex;
	align-items: center;
}

nav.navbar .navbar-nav .nav-link,
nav.navbar .navbar-actions .btn,
nav.navbar .navbar-actions .dropdown-toggle,
nav.navbar .navbar-label-select .form-select {
	border: 1px solid transparent;
}

nav.navbar .navbar-nav .nav-link:hover,
nav.navbar .navbar-nav .nav-link:active,
nav.navbar .navbar-actions .btn:hover,
nav.navbar .navbar-actions .btn:active,
nav.navbar .navbar-actions .dropdown-toggle:hover,
nav.navbar .navbar-actions .dropdown-toggle:active {
	border-color: rgba(255, 255, 255, 0.2);
}

nav.navbar .navbar-nav .nav-link.active,
nav.navbar .navbar-actions .btn.active,
nav.navbar .navbar-actions .dropdown-toggle.active {
	border-color: transparent;
}

[data-theme="dark"] nav.navbar {
	background-color: #242526;
}

.logo-link {
	display: flex;
	align-items: center;
	padding: 0;
	border: none;
}

.logo-link .title-logo {
	display: block;
	height: 40px;
	width: auto;
}

[data-theme="light"] .logo-link .title-logo {
	color: #2b303b;
}

[data-theme="dark"] .logo-link .title-logo {
	color: #d8dee9;
}

.nav-link svg {
	height: 1em;
	width: auto;
}

.navbar-actions svg {
	height: 1em;
	width: auto;
}

@media (max-width: 767.98px) {
	nav.navbar .navbar-actions {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	nav.navbar .nav-link {
		margin-left: 0.75rem;
	}

	nav.navbar .nav-menu .dropdown-menu {
		background-color: transparent;
		border: none;
	}

	nav.navbar .nav-menu .dropdown-menu .dropdown-item {
		padding-left: 1.5rem;
	}
}
