.card {
	margin-bottom: 10px;
}

.card-body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card-body .alert,
.card-body .form-label {
	margin-bottom: 0;
}

.loading .spinner-border {
	height: 6rem;
	width: 6rem;
}

.loading-small {
	height: 1rem !important;
	width: 1rem !important;
}
